#community-s {
    height: 310%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.community-s-title {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 275%;
    font-size: 30px;
    text-align: center;
    h2 {
        position: relative;

    }
}
.community-s-li {
    position: relative;
    list-style-type: none;
    line-height: 100px;
    top: 14%;
    left: 5%;
    width: 40%;
    font-size: 20px;

    left: 25%;
height:400px; 
width:50%;
overflow:hidden; overflow-y:scroll;
background-color: rgb(4, 4, 3);
border-radius: 10px;
li {
    position: relative;
    left: 10%;
}
}
.community-s-title1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 367%;
    font-size: 30px;
    text-align: center;
    h2 {
        position: relative;

    }
}
.community-s-li1 {
    position: relative;
    list-style-type: none;
    line-height: 100px;
    top: 30%;
    left: 5%;
    width: 40%;
    font-size: 20px;

    left: 25%;
height:400px; 
width:50%;
overflow:hidden; overflow-y:scroll;
background-color: rgb(4, 4, 3);
border-radius: 10px;
li {
    position: relative;
    left: 10%;
}
}
.community-s-imagecointainer {
    position: absolute;
    top: 460%;
}
.community-s-image {
    position: relative;
    width: 100%;
    left: 0%;
    top: 0%;
    border-radius: 30px;
}



#community-s-li-firtplace1 {
color: rgb(228, 20, 255);
}
#community-s-li-firtplace2 {
    color: rgb(234, 0, 255);
    }
    #community-s-li-firtplace3 {
        color: rgb(176, 6, 255);
        }
        #community-s-li-firtplace4 {
            color: rgb(111, 0, 255);
            }
            #community-s-li-firtplace5 {
                color: rgb(76, 0, 255);
                }