#coolplaces-s {
    height: 550%;
    width: 100%;
}
.coolplaces-s-title {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 4%;
    font-size: 30px;
    text-align: center;
    h2 {
        position: relative;

    }
}
.coolplaces-s-image {
    position: absolute;
    width: 80%;
    left: 0%;
    border-radius: 20px;
}
.coolplaces-s-map {
    position: absolute;
    width: 20%;
    left: 100%;
    border-radius: 20px;
}
.coolplaces-s-list {
    font-size: 20px;
    position: relative;
    top: 10%;
    left: 30%;
    width: 50%;
    transform: translate(-50%, -50%);
    h3 {
        position: relative;
    }
    p {
        position: relative;
    }
}
.coolplaces-s-list1 {
    font-size: 20px;
    position: relative;
    top: 25%;
    left: 30%;
    width: 50%;
    transform: translate(-50%, -50%);
    h3 {
        position: relative;
    }
    p {
        position: relative;
    }
}
.coolplaces-s-list2 {
    font-size: 20px;
    position: relative;
    top: 40%;
    left: 30%;
    width: 50%;
    transform: translate(-50%, -50%);
    h3 {
        position: relative;
    }
    p {
        position: relative;
    }
}
.coolplaces-s-list3 {
    font-size: 20px;
    position: relative;
    top: 55%;
    left: 30%;
    width: 50%;
    transform: translate(-50%, -50%);
    h3 {
        position: relative;
    }
    p {
        position: relative;
    }
}
.coolplaces-s-list4 {
    font-size: 20px;
    position: relative;
    top: 70%;
    left: 30%;
    width: 50%;
    transform: translate(-50%, -50%);
    h3 {
        position: relative;
    }
    p {
        position: relative;
    }
}
