#fortressclose-s {
    height: 50%;
    background-image: url('resources/minecraftfortresspng_4x.png');
    background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#fortressclose1-s {
    height: 50%;
    background-image: url('resources/Minecraftspawn2hallow_4x.png');
    background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}