body, html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-image: url(resources/minecraft-house.pumkins.png);
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url(resources/minecraft-house-road-pumkin-night.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);

}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 23px;
}
#title_p1-mserip {
  font-weight: 100;

}
#title_h1-title {
  text-shadow: rgb(255, 210, 64) 0px 0px 1px;
}

#section-info {
    height: 105%;
    width: 100%;
    background-image: url(resources/Blurry.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whytoj-text {
  text-shadow: rgb(0, 0, 0) 0px 0px 2px;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 170%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}
#info-whytoj-lo {
  text-align: justify;
}

.infoboutaserver {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  text-shadow: rgb(0, 0, 0) 0px 0px 2px;
}
#infoboutaserver-lo {
  text-align: justify;
}
#infoboutaserver-lo-span {
  color: rgb(255, 245, 106);
  text-shadow: rgb(0, 0, 0) 0px 0px 2px;
}



#community-section {
  height: 100%;
  width: 100%;
  background-image: url(resources/mc-house-top-halloween.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 240%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  font-size: 25px;
  text-shadow: rgb(0, 0, 0) 0px 0px 2px;
}
#info-stafflist-lo {
  text-align: justify;
}
#info-stafflist-lo-span {
  color: rgb(255, 174, 0);
}
.info-active-users {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 280%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  text-shadow: rgb(0, 0, 0) 0px 0px 2px;
}
#info-activeppllist-lo {
  text-align: justify;
}



/*navbar*/

.topnav {
background-color: #333;
overflow: hidden;
position: fixed;
top: 0;
z-index: 1;
width: 100%;
}

.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 12px 30px;
border-radius: 3px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: rgb(238, 238, 238);
color: black;
transition: 0.2s ease-in-out;
}

.topnav a.active {
background-color: #F65058FF;
color: white;
}

.topnav .icon {
display: none;
}

#livemap {
  width: 100%;
  height: 100%;
  z-index: 999;
}
