body, html {
  height: 100%;
  width: 100%;
  background-color: #090909;
  margin: auto;
  font-family: 'Recursive', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  left: 5%;
  height: 10%;
  top: 0%;
  z-index: 1;
  cursor: pointer;
}

.navbar a {
  text-shadow: black 0px 0px 2px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 25%;
  padding: 12px 40px;
  font-size: 15px;
}

.navbar a:hover {
  text-shadow: black 0px 0px 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
  width: 70%;
  padding: 30px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 10px;
}

.main-title h1 {
  position: relative;
  font-size: 50px;
  color: white;
}

.main-parallax {
  background-image: url("resources/minecraftcastlebig_2x.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.856);
}

.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

#info-s {
  height: 100%;
  width: 100%;
}

.info-s-title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 115%;
  font-size: 30px;
  text-align: center;
}

.info-s-title h2 {
  position: relative;
}

.info-s-li {
  position: relative;
  list-style-type: none;
  line-height: 100px;
  top: 30%;
  left: 5%;
  width: 40%;
  font-size: 20px;
}

.info-s-imagecointainer {
  position: absolute;
  top: 130%;
}

.join-s-image {
  position: relative;
  width: 50%;
  left: 45%;
  top: 0%;
  border-radius: 30px;
}

#fortressclose-s {
  height: 50%;
  background-image: url("resources/minecraftfortresspng_4x.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fortressclose1-s {
  height: 50%;
  background-image: url("resources/Minecraftspawn2hallow_4x.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#community-s {
  height: 310%;
  width: 100%;
}

.community-s-title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 275%;
  font-size: 30px;
  text-align: center;
}

.community-s-title h2 {
  position: relative;
}

.community-s-li {
  position: relative;
  list-style-type: none;
  line-height: 100px;
  top: 14%;
  left: 5%;
  width: 40%;
  font-size: 20px;
  left: 25%;
  height: 400px;
  width: 50%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #040403;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.community-s-li li {
  position: relative;
  left: 10%;
}
.community-s-li a {
  cursor: pointer;
  position: relative;
  left: 10%;
}

.community-s-title1 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 367%;
  font-size: 30px;
  text-align: center;
}

.community-s-title1 h2 {
  position: relative;
}

.community-s-li1 {
  position: relative;
  list-style-type: none;
  line-height: 100px;
  top: 30%;
  left: 5%;
  width: 40%;
  font-size: 20px;
  left: 25%;
  height: 400px;
  width: 50%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #040403;
  border-radius: 10px;
}

.community-s-li1 li {
  position: relative;
  left: 10%;
}

.community-s-imagecointainer {
  position: absolute;
  top: 460%;
}

.community-s-image {
  position: relative;
  width: 100%;
  left: 0%;
  top: 0%;
  border-radius: 30px;
}

#community-s-li-firtplace1 {
  color: #e414ff;
}

#community-s-li-firtplace2 {
  color: #ea00ff;
}

#community-s-li-firtplace3 {
  color: #b006ff;
}

#community-s-li-firtplace4 {
  color: #6f00ff;
}

#community-s-li-firtplace5 {
  color: #4c00ff;
}

#coolplaces-s {
  height: 550%;
  width: 100%;
}

.coolplaces-s-title {
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 4%;
  font-size: 30px;
  text-align: center;
}

.coolplaces-s-title h2 {
  position: relative;
}

.coolplaces-s-image {
  position: absolute;
  width: 80%;
  left: 0%;
  border-radius: 20px;
}

.coolplaces-s-map {
  position: absolute;
  width: 20%;
  left: 100%;
  border-radius: 20px;
}

.coolplaces-s-list {
  font-size: 20px;
  position: relative;
  top: 10%;
  left: 30%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.coolplaces-s-list h3 {
  position: relative;
}

.coolplaces-s-list p {
  position: relative;
}

.coolplaces-s-list1 {
  font-size: 20px;
  position: relative;
  top: 25%;
  left: 30%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.coolplaces-s-list1 h3 {
  position: relative;
}

.coolplaces-s-list1 p {
  position: relative;
}

.coolplaces-s-list2 {
  font-size: 20px;
  position: relative;
  top: 40%;
  left: 30%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.coolplaces-s-list2 h3 {
  position: relative;
}

.coolplaces-s-list2 p {
  position: relative;
}

.coolplaces-s-list3 {
  font-size: 20px;
  position: relative;
  top: 55%;
  left: 30%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.coolplaces-s-list3 h3 {
  position: relative;
}

.coolplaces-s-list3 p {
  position: relative;
}

.coolplaces-s-list4 {
  font-size: 20px;
  position: relative;
  top: 70%;
  left: 30%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.coolplaces-s-list4 h3 {
  position: relative;
}

.coolplaces-s-list4 p {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .navbar {
    left: 5%;
    height: 10%;
  }
  .navbar a {
    padding: 12px 10px;
    font-size: 10px;
  }
  .info-s-title {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 115%;
    font-size: 20px;
    width: 100%;
  }
  .info-s-li {
    position: relative;
    list-style-type: none;
    line-height: 75px;
    top: 25%;
    left: 5%;
    width: 100%;
    font-size: 10px;
  }
  .info-s-imagecointainer {
    visibility: hidden;
  }
  .community-s-title {
    width: 100%;
  }
  .community-s-title1 {
    width: 100%;
  }
  .community-s-li {
    width: 60%;
    left: 20%;
  }
  .community-s-li1 {
    width: 60%;
    height: 20%;
    top: 25%;
  }
  .community-s-imagecointainer {
    top: 480%;
  }
  .community-s-image {
    width: 100%;
    left: 0%;
  }
  .coolplaces-s-list {
    left: 67%;
    width: 110%;
  }
  .coolplaces-s-list1 {
    left: 67%;
    width: 110%;
  }
  .coolplaces-s-list2 {
    left: 67%;
    width: 110%;
  }
  .coolplaces-s-list3 {
    left: 67%;
    width: 110%;
  }
  .coolplaces-s-list4 {
    left: 67%;
    width: 110%;
  }
  #contact_info {
    height: 150%;
  }
  #text_footer-p {
    font-size: 5px;
    top: 20%;
  }
  #watermark {
    margin-top: 100%;
    font-size: 10px;
  }
  #text-footer-p-email {
    font-size: 7px;
  }
  #footer-email-span {
    font-size: 5px;
  }
  #h1_text-foooter-discord {
    font-size: 15px;
  }
  #h1_text-footer-email {
    font-size: 15px;
  }
}

#contact_info {
  height: 50%;
  width: 100%;
  background-color: #0a0a0a;
  color: white;
}

.text_footer {
  position: relative;
  width: 100%;
  height: 0%;
  top: 20%;
}

#h1_text-foooter-discord {
  margin-top: 0;
  position: relative;
  color: white;
  margin-left: 5%;
}

#footer-discord-link {
  color: white;
  cursor: pointer;
}

#text_footer-p {
  position: relative;
  color: #838383;
  font-size: 15px;
  line-height: 1.5;
  width: 30%;
  margin-left: 5%;
}

.text-footer-email {
  margin: 0;
  top: 0;
  position: relative;
  margin-left: 45%;
  line-height: 1.5;
  top: 20%;
}

#h1_text-footer-email {
  top: 0;
  position: relative;
  margin-left: 50%;
}

#text-footer-p-email {
  color: #838383;
  top: 0;
  position: relative;
  margin-left: 50%;
}

#footer-email-span {
  color: white;
}

#footer-span-webmanager {
  color: #7da0ff;
}

.footer-watermark {
  position: relative;
  bottom: 0;
}

#watermark {
  font-size: 13px;
  color: #838383;
  position: relative;
  margin-left: 42.5%;
  margin-top: 13%;
}

#footer-quincymcp {
  font-style: italic;
  font-weight: bold;
}

#footer-watermark-span {
  font-style: italic;
}

#footer-span-github {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  color: white;
}
/*# sourceMappingURL=style.css.map */
