body, html {
    height: 100%;
    background-image: url(resources/minecraft-house.pumkins.png);
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    background-image: url(resources/minecraft-house-road-pumkin-night.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);

  }
  
  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 23px;
  }
  #bg-text-title-p1 {
    text-shadow: rgb(243, 240, 87) 0px 0px 1px;

  }
  #title_h1-title {
    text-shadow: rgb(255, 210, 64) 0px 0px 2px;
  }

  #section-info {
      height: 100%;
      width: 100%;
      background-image: url(resources/Blurry.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .info-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 130%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
  }
  #info-stafflist-lo {
    text-align: justify;
  }




/*navbar*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* Style the links inside the navigation bar */
#topnav_p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #F65058FF;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
